<!DOCTYPE html>
<html>
  <body>
    <table border="1">
      <tr>
        <th>アドレス</th>
        <td><%=address %></td>
      </tr>
      <tr>
        <th>シークレット</th>
        <td><%=secret %></td>
      </tr>
    </table>
  </body>
</html>
